.typer {
  h1 {
    color: white;
    font-size: 40px;
  }
  #cursor {
    border-left: 0.1em solid white;
    height: 40px;
  }
}
@media (max-width: 975px) {
  .typer {
    h1 {
      font-size: 25px;
    }
    #cursor {
      border-left: 0.1em solid white;
      height: 25px;
    }
  }
}
