.carousel {
  height: 90vh;

  @media (max-width: 723px) {
    .carousel {
      height: 178px;
    }
    .carousel-img {
      max-height: 178px !important;
      min-height: 178px !important;
    }
  }

  .carousel-img {
    min-width: 100%;
    min-height: 90vh;
    max-height: 90vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
    background-color: rgba(12, 112, 19, 0.123);
  }
}
